@model dynamic

<!DOCTYPE html>
<html>
<head>
    <title>HtmlReplay</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/cookie.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
    <script src="http://fb.me/react-0.11.2.js"></script>
    
    <script src="http://fb.me/JSXTransformer-0.11.2.js"></script>
    
    <script type="text/jsx" src="~/Scripts/CapturedRequestsList.jsx">
    </script>
    
</head>
    <body>
        <div class="container">
            <h1>HtmlReplay</h1>
            <div id="CapturedRequestsList"></div>
        </div>
    </body>
</html>